.login{
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #E0E8FF;
} 
.login .background{
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 
.login .background .purple{
    position: absolute;
    height: 100%;
    width: 850px;
    right: -50px;
    background-image: url("/R12.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login .background .purple > div {
    position: relative;
    height: 100%;
    width: 770px;
    top: -20px;
    right: -80px;
    display: flex;
    flex-direction: column;
    padding: 330px 200px;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("/R11.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login .background .pink{
    position: absolute;
    height: 300px;
    top:0px;
    left: 0px;
    width: 750px;
    background-image: url("/R22.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.login .background .pink div {
    position: relative;
    height: 230px;
    top:0px;
    left: 0px;
    width: 560px;
    background-image: url("/R21.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.login .background .blue{
    position: absolute;
    height: 600px;
    bottom:-150px;
    left: 0px;
    width: 1600px;
    background-image: url("/R32.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.login .background .blue div {
    position: relative;
    height: 560px;
    bottom:-20px;
    left: 0px;
    width: 1600px;
    background-image: url("/R31.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.login .image{
    position: absolute;
    height: 600px;
    width: 600px;
    margin: 100px 0px;
    padding: 0px 200px;
    box-sizing: border-box;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.login .image img{
    position: relative;
    height: 600px;
    width: 600px;
    top: -100px;
    left: -400px; 
}
.login .inputgroup{
    width: 400px;
    height: 30px;
    display: flex;
    flex-direction: row;
    border: solid 0.5px #6551AD;
    background-color: #6551AD;
    border-radius: 16px;
    padding: 8px 30px;
    box-sizing: border-box;
    margin: 20px 0px;
    transition: all 1s ease;
}
.login .inputgroup.selected,.login .inputgroup:hover{
    width: 400px;
    height: 30px;
    background-color: transparent;
    border: solid 1px #437AFA;
    border-radius: 16px;
    padding: 8px 30px;
    box-sizing: border-box;
    margin: 20px 0px;
    transition: all 0.5s ease;
}
.login .inputgroup input{
    display: block; /* Make the input behave like a block element */
    width: 100%; /* Optional: to control the width */
    border: none; /* Removes the border */
    outline: none; /* Removes the outline (focus border) */
    background: transparent; /* Removes the background */
    padding: 0; /* Removes any default padding */
    font: "small";
    font-size: 12px; /* Ensures the font is inherited from the parent */
    color: white;
}
.login .inputgroup input::placeholder{
    font: "small";
    font-size: 12px; /* Ensures the font is inherited from the parent */
    color: #E0E8FF;
}
.login .inputgroup .icon{
    position: relative;
    top: -3px;
    width: 18px;
    height: 18px;
    border: none;
}
.login .buttongroup{
    border-radius: 24px;
    background-color:#C11971;
    width: 90px;
    height: 40px;
    margin: 10px auto;
    padding: 10px 10px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
.login .buttongroup:hover{
    border-radius: 24px;
    background-color:#9E1A95;
    width: 90px;
    border: solid 1px #E0E8FF;
    height: 40px;
    margin: 10px auto;
    padding: 10px 10px;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
.login .buttongroup button{
    display: block; /* Make the input behave like a block element */
    width: 100%; /* Optional: to control the width */
    border: none; /* Removes the border */
    outline: none; /* Removes the outline (focus border) */
    background: transparent; /* Removes the background */
    padding: 0; 
    font: "small";
    font-size: 14px; 
    color: white;
}