@font-face { 
    font-family: 'small'; 
    src: url('agbalumo-regular-webfont.woff2') format('woff2'),
        url('agbalumo-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'big'; 
    src: url('alexbrush-regular-webfont.woff2') format('woff2'),
        url('alexbrush-regular-webfont.woff') format('woff');
}
.textlogo{
    color:#9E1A95;
    font-family: "big";
    font-size: 64px;
    font-weight: bold;
}
.textlogin{
    color:#E0E8FF;
    font-family: "big";
    font-size: 54px;
    font-weight: normal;
}


  *::-webkit-scrollbar {
    width: 8px; 
  }

  *::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    margin: 10px 0px;
    background: #907fcf; /* color of the scrollbar thumb */
    border-radius: 10px;/* adds a space around the thumb */
  }

   *::-webkit-scrollbar-thumb:hover {
    background: #39267d; /* color of the thumb when hovered */
  }
