/* index.css */
:root{
    --dark:#852040;
    --light:#FFF3F3;
    --pink:rgb(245,200,203);
    --dark-pink:rgb(217,110,121);
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
  }
  
  #root {
    width: 100%;
    height: 100%;
  }
  

  